html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  @media screen and (min-width: $sml-desktop) {
    overflow: hidden;
  }
}
.main-container {
  padding-top: $padding-sml;
  height: 100%;
  background: url(images/galaxy.jpeg) no-repeat center center fixed;
  background-size: cover;
}
